<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

    <!-- ======================================================== -->
    <!-- Extension points -->
    <!-- ======================================================== -->
    <!-- parsing -->
    <extension-point id="executionFlowProviders" name="Provider for execution flow tweaks"
        schema="schema/executionFlowProviders.exsd"/>
    <extension-point id="parseFactories" name="Factories for parsing support"
        schema="schema/parseFactories.exsd"/>
    <extension-point id="classLoaderInitializers"
        name="Listener for loading classes from project ClassLoader"
        schema="schema/classLoaderInitializers.exsd"/>
    <extension-point id="parseContextProcessors" name="Processors for parsing context"
        schema="schema/parseContextProcessors.exsd"/>
    <extension-point id="javaInfoInitializationParticipators"
        name="Participators of JavaInfo initialization"
        schema="schema/javaInfoInitializationParticipators.exsd"/>
    <extension-point id="rootProcessors" name="Root JavaInfo processors"
        schema="schema/rootProcessors.exsd"/>
    <extension-point id="unknownParameterEvaluators" name="Evaluators for unknown method parameters"
        schema="schema/unknownParameterEvaluators.exsd"/>
    <extension-point id="imageProcessor" name="Processor for widget icons and images"
        schema="schema/imageProcessor.exsd"/>


    <!-- ======================================================== -->
    <!-- Bundle class loading -->
    <!-- ======================================================== -->
    <extension point="org.eclipse.wb.core.classLoadingContributor">
        <contributor namespace="org.eclipse.wb.internal.core."/>
    </extension>


    <!-- ======================================================== -->
    <!-- Exceptions -->
    <!-- ======================================================== -->
    <extension point="org.eclipse.wb.core.exceptions">
        <file path="resources/exceptions.xml"/>
        <rewriter class="org.eclipse.wb.internal.core.editor.errors.CoreExceptionRewriter2"/>
    </extension>


    <!-- ======================================================== -->
    <!-- Description driven features -->
    <!-- ======================================================== -->
    <extension point="org.eclipse.wb.core.java.javaInfoInitializationParticipators">
        <participator
            class="org.eclipse.wb.internal.core.model.util.generic.DescriptionDrivenFeaturesParticipator"
        />
    </extension>

    <extension point="org.eclipse.wb.core.java.rootProcessors">
        <processor class="org.eclipse.wb.internal.core.model.JavaInfoRootProcessor"/>
        <processor
            class="org.eclipse.wb.internal.core.model.util.generic.LocalStaticFactoriesRootProcessor"/>
        <processor
            class="org.eclipse.wb.internal.core.model.generic.SimpleContainerClipboardSupport"/>
        <processor
            class="org.eclipse.wb.internal.core.model.creation.factory.InstanceFactoryRootProcessor"/>
        <processor class="org.eclipse.wb.internal.core.model.layout.GeneralLayoutDataRemover"/>
        <processor class="org.eclipse.wb.internal.core.model.nonvisual.NonVisualBeanRootProcessor"
            priority="-1"/>
    </extension>


    <!-- ======================================================== -->
    <!-- Parser -->
    <!-- ======================================================== -->
    <extension point="org.eclipse.wb.core.java.parseFactories">
        <noModel class="org.eclipse.wb.internal.core.parser.ParseFactoryNoModelJava"/>
    </extension>


    <!-- ======================================================== -->
    <!-- Expression evaluators -->
    <!-- ======================================================== -->
    <extension point="org.eclipse.wb.core.expressionEvaluators">
        <!-- primitives -->
        <evaluator class="org.eclipse.wb.internal.core.eval.evaluators.BooleanEvaluator"/>
        <evaluator class="org.eclipse.wb.internal.core.eval.evaluators.CharEvaluator"/>
        <evaluator class="org.eclipse.wb.internal.core.eval.evaluators.IntegerEvaluator"/>
        <evaluator class="org.eclipse.wb.internal.core.eval.evaluators.LongEvaluator"/>
        <evaluator class="org.eclipse.wb.internal.core.eval.evaluators.FloatEvaluator"/>
        <evaluator class="org.eclipse.wb.internal.core.eval.evaluators.DoubleEvaluator"/>
        <!-- java.lang.String -->
        <evaluator class="org.eclipse.wb.internal.core.eval.evaluators.StringEvaluator"/>
        <!-- NLS -->
        <evaluator class="org.eclipse.wb.internal.core.nls.NlsStringEvaluator" priority="1"/>
        <!-- other -->
        <evaluator class="org.eclipse.wb.internal.core.eval.evaluators.AssignmentEvaluator"/>
        <evaluator class="org.eclipse.wb.internal.core.eval.evaluators.ArrayEvaluator"/>
        <evaluator class="org.eclipse.wb.internal.core.eval.evaluators.ClassEvaluator"/>
        <evaluator class="org.eclipse.wb.internal.core.eval.evaluators.CastEvaluator"/>
        <evaluator class="org.eclipse.wb.internal.core.eval.evaluators.FieldAccessEvaluator"/>
        <evaluator class="org.eclipse.wb.internal.core.eval.evaluators.InvocationEvaluator"/>
        <evaluator class="org.eclipse.wb.internal.core.eval.evaluators.QualifiedNameEvaluator"/>
        <evaluator class="org.eclipse.wb.internal.core.eval.evaluators.SimpleNameEvaluator"/>
        <evaluator
            class="org.eclipse.wb.internal.core.eval.evaluators.ConditionalExpressionEvaluator"/>
    </extension>


    <!-- ======================================================== -->
    <!-- ExpressionConverter -->
    <!-- ======================================================== -->
    <extension point="org.eclipse.wb.core.propertyConverters">
        <!-- primitives -->
        <converter type="boolean"
            class="org.eclipse.wb.internal.core.model.property.converter.BooleanConverter"/>
        <converter type="char"
            class="org.eclipse.wb.internal.core.model.property.converter.CharacterConverter"/>
        <converter type="byte"
            class="org.eclipse.wb.internal.core.model.property.converter.ByteConverter"/>
        <converter type="short"
            class="org.eclipse.wb.internal.core.model.property.converter.ShortConverter"/>
        <converter type="int"
            class="org.eclipse.wb.internal.core.model.property.converter.IntegerConverter"/>
        <converter type="long"
            class="org.eclipse.wb.internal.core.model.property.converter.LongConverter"/>
        <converter type="float"
            class="org.eclipse.wb.internal.core.model.property.converter.FloatConverter"/>
        <converter type="double"
            class="org.eclipse.wb.internal.core.model.property.converter.DoubleConverter"/>
        <!-- wrappers -->
        <converter type="java.lang.Boolean"
            class="org.eclipse.wb.internal.core.model.property.converter.BooleanObjectConverter"/>
        <converter type="java.lang.Byte"
            class="org.eclipse.wb.internal.core.model.property.converter.ByteObjectConverter"/>
        <converter type="java.lang.Short"
            class="org.eclipse.wb.internal.core.model.property.converter.ShortObjectConverter"/>
        <converter type="java.lang.Integer"
            class="org.eclipse.wb.internal.core.model.property.converter.IntegerObjectConverter"/>
        <converter type="java.lang.Long"
            class="org.eclipse.wb.internal.core.model.property.converter.LongObjectConverter"/>
        <converter type="java.lang.Double"
            class="org.eclipse.wb.internal.core.model.property.converter.DoubleObjectConverter"/>
        <!-- other -->
        <converter type="java.lang.String"
            class="org.eclipse.wb.internal.core.model.property.converter.StringConverter"/>
        <converter type="java.lang.String[]"
            class="org.eclipse.wb.internal.core.model.property.converter.StringArrayConverter"/>
        <converter type="boolean[]"
            class="org.eclipse.wb.internal.core.model.property.converter.BooleanArrayConverter"/>
        <converter type="int[]"
            class="org.eclipse.wb.internal.core.model.property.converter.IntegerArrayConverter"/>
        <converter type="java.util.Locale"
            class="org.eclipse.wb.internal.core.model.property.converter.LocaleConverter"/>
    </extension>



    <!-- ======================================================== -->
    <!-- PropertyEditor -->
    <!-- ======================================================== -->
    <extension point="org.eclipse.wb.core.propertyEditors">
        <!-- primitives -->
        <editor type="boolean"
            class="org.eclipse.wb.internal.core.model.property.editor.BooleanPropertyEditor"/>
        <editor type="byte"
            class="org.eclipse.wb.internal.core.model.property.editor.BytePropertyEditor"/>
        <editor type="char"
            class="org.eclipse.wb.internal.core.model.property.editor.CharacterPropertyEditor"/>
        <editor type="short"
            class="org.eclipse.wb.internal.core.model.property.editor.ShortPropertyEditor"/>
        <editor type="int"
            class="org.eclipse.wb.internal.core.model.property.editor.IntegerPropertyEditor"/>
        <editor type="int[]"
            class="org.eclipse.wb.internal.core.model.property.editor.IntegerArrayPropertyEditor"/>
        <editor type="long"
            class="org.eclipse.wb.internal.core.model.property.editor.LongPropertyEditor"/>
        <editor type="float"
            class="org.eclipse.wb.internal.core.model.property.editor.FloatPropertyEditor"/>
        <editor type="double"
            class="org.eclipse.wb.internal.core.model.property.editor.DoublePropertyEditor"/>
        <!-- wrappers -->
        <editor type="java.lang.Boolean"
            class="org.eclipse.wb.internal.core.model.property.editor.BooleanObjectPropertyEditor"/>
        <editor type="java.lang.Byte"
            class="org.eclipse.wb.internal.core.model.property.editor.ByteObjectPropertyEditor"/>
        <editor type="java.lang.Short"
            class="org.eclipse.wb.internal.core.model.property.editor.ShortObjectPropertyEditor"/>
        <editor type="java.lang.Integer"
            class="org.eclipse.wb.internal.core.model.property.editor.IntegerObjectPropertyEditor"/>
        <editor type="java.lang.Long"
            class="org.eclipse.wb.internal.core.model.property.editor.LongObjectPropertyEditor"/>
        <editor type="java.lang.Double"
            class="org.eclipse.wb.internal.core.model.property.editor.DoubleObjectPropertyEditor"/>
        <!-- typed -->
        <editor type="java.lang.String"
            class="org.eclipse.wb.internal.core.model.property.editor.string.StringPropertyEditor"/>
        <editor type="java.lang.String[]"
            class="org.eclipse.wb.internal.core.model.property.editor.StringArrayPropertyEditor"/>
        <editor type="java.util.Locale"
            class="org.eclipse.wb.internal.core.model.property.editor.LocalePropertyEditor"/>
        <!-- configurable -->
        <configurableEditor id="staticField"
            class="org.eclipse.wb.internal.core.model.property.editor.StaticFieldPropertyEditor"/>
        <configurableEditor id="innerClass"
            class="org.eclipse.wb.internal.core.model.property.editor.InnerClassPropertyEditor"/>
        <configurableEditor id="constantSelection"
            class="org.eclipse.wb.internal.core.model.property.editor.ConstantSelectionPropertyEditor"/>
        <configurableEditor id="displayExpression"
            class="org.eclipse.wb.internal.core.model.property.editor.DisplayExpressionPropertyEditor"/>
        <configurableEditor id="stringList"
            class="org.eclipse.wb.internal.core.model.property.editor.StringListPropertyEditor"/>
        <configurableEditor id="instanceList"
            class="org.eclipse.wb.internal.core.model.property.editor.InstanceListPropertyEditor"/>
        <configurableEditor id="expressionList"
            class="org.eclipse.wb.internal.core.model.property.editor.ExpressionListPropertyEditor"/>
        <configurableEditor id="instanceObject"
            class="org.eclipse.wb.internal.core.model.property.editor.complex.InstanceObjectPropertyEditor"/>
        <configurableEditor id="customDate"
            class="org.eclipse.wb.internal.core.model.property.editor.DatePropertyEditor"/>
        <configurableEditor id="style"
            class="org.eclipse.wb.internal.core.model.property.editor.style.StylePropertyEditor"/>
        <!-- providers -->
        <provider
            class="org.eclipse.wb.internal.core.model.property.editor.PropertyDescriptorEditorProvider"
        />
    </extension>


    <!-- ======================================================== -->
    <!-- Configurable properties -->
    <!-- ======================================================== -->
    <extension point="org.eclipse.wb.core.configurablePropertyFactories">
        <factory id="stringsAdd"
            class="org.eclipse.wb.internal.core.model.property.configurable.StringsAddPropertyFactory"
        />
    </extension>


    <!-- ======================================================== -->
    <!-- Property UI -->
    <!-- ======================================================== -->
    <extension point="org.eclipse.wb.core.propertiesPageActions">
        <toolbar
            class="org.eclipse.wb.internal.core.editor.structure.property.JavaPropertiesToolBarContributor"/>
        <menu class="org.eclipse.wb.internal.core.model.util.ExposePropertySupport"/>
    </extension>


    <!-- ======================================================== -->
    <!-- NLS sources -->
    <!-- ======================================================== -->
    <extension point="org.eclipse.wb.core.nlsSources">
        <description id="org.eclipse.wb.core.nls.bundle.pure.activator.ActivatorSource"
            source="org.eclipse.wb.internal.core.nls.bundle.pure.activator.ActivatorSource"
            composite="org.eclipse.wb.internal.core.nls.bundle.pure.activator.ActivatorSourceNewComposite"/>
        <description id="org.eclipse.wb.core.nls.bundle.eclipse.old.EclipseSource"
            source="org.eclipse.wb.internal.core.nls.bundle.eclipse.old.EclipseSource"
            composite="org.eclipse.wb.internal.core.nls.bundle.eclipse.old.EclipseSourceNewComposite"/>
        <description id="org.eclipse.wb.core.nls.bundle.eclipse.modern.ModernEclipseSource"
            source="org.eclipse.wb.internal.core.nls.bundle.eclipse.modern.ModernEclipseSource"
            composite="org.eclipse.wb.internal.core.nls.bundle.eclipse.modern.ModernEclipseSourceNewComposite"/>
        <description id="org.eclipse.wb.core.nls.bundle.pure.direct.DirectSource"
            source="org.eclipse.wb.internal.core.nls.bundle.pure.direct.DirectSource"
            composite="org.eclipse.wb.internal.core.nls.bundle.pure.direct.DirectSourceNewComposite"/>
        <description id="org.eclipse.wb.core.nls.bundle.pure.field.FieldSource"
            source="org.eclipse.wb.internal.core.nls.bundle.pure.field.FieldSource"
            composite="org.eclipse.wb.internal.core.nls.bundle.pure.field.FieldSourceNewComposite"/>
    </extension>


    <!-- ======================================================== -->
    <!-- Toolkit -->
    <!-- ======================================================== -->
    <extension point="org.eclipse.wb.core.toolkits">
        <toolkit id="org.eclipse.wb.core">
            <provider class="org.eclipse.wb.internal.core.ToolkitProvider"/>
            <resourcePrefixes>
                <resourcePrefix>java.</resourcePrefix>
            </resourcePrefixes>
        </toolkit>
    </extension>


    <!-- ======================================================== -->
    <!-- GEF canvas -->
    <!-- ======================================================== -->
    <extension point="org.eclipse.wb.core.editPartConfigurators">
        <configurator class="org.eclipse.wb.internal.core.gef.CoreEditPartConfigurator"/>
        <configurator class="org.eclipse.wb.internal.core.gef.GenericContainersConfigurator"/>
    </extension>

    <extension point="org.eclipse.wb.core.editPolicyFactories">
        <factory class="org.eclipse.wb.internal.core.gef.GenericContainersLayoutEditPolicyFactory"/>
    </extension>


    <!-- ======================================================== -->
    <!-- GEF tree -->
    <!-- ======================================================== -->
    <extension point="org.eclipse.wb.core.treeEditPartConfigurators">
        <configurator class="org.eclipse.wb.internal.core.gefTree.GenericContainersConfigurator"/>
    </extension>

    <extension point="org.eclipse.wb.core.treeEditPolicyFactories">
        <factory
            class="org.eclipse.wb.internal.core.gefTree.GenericContainersLayoutEditPolicyFactory"/>
    </extension>



    <!-- ======================================================== -->
    <!-- GUI editor: standard actions -->
    <!-- ======================================================== -->
    <extension point="org.eclipse.ui.actionSetPartAssociations">
        <actionSetPartAssociation targetID="org.eclipse.jdt.ui.A_OpenActionSet">
            <part id="org.eclipse.wb.core.guiEditor"/>
        </actionSetPartAssociation>
        <actionSetPartAssociation targetID="org.eclipse.jdt.ui.CodingActionSet">
            <part id="org.eclipse.wb.core.guiEditor"/>
        </actionSetPartAssociation>
        <actionSetPartAssociation targetID="org.eclipse.jdt.ui.SearchActionSet">
            <part id="org.eclipse.wb.core.guiEditor"/>
        </actionSetPartAssociation>
    </extension>

    <extension point="org.eclipse.ui.editorActions">
        <editorContribution targetID="org.eclipse.wb.core.guiEditor"
            id="org.eclipse.jdt.debug.CompilationUnitEditor.BreakpointRulerActions">
            <action label="%AddBreakpoint.label"
                class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
                actionID="RulerDoubleClick"
                id="org.eclipse.jdt.debug.ui.actions.ManageBreakpointRulerAction"/>
        </editorContribution>
    </extension>

    <extension point="org.eclipse.ui.editorActions">
        <editorContribution targetID="org.eclipse.wb.core.guiEditor"
            id="org.eclipse.ui.texteditor.ruler.actions">
            <action actionID="RulerClick"
                class="org.eclipse.jdt.internal.ui.javaeditor.JavaSelectRulerAction"
                id="org.eclipse.jdt.internal.ui.javaeditor.JavaSelectRulerAction" label="label"/>
        </editorContribution>
    </extension>

    <!-- ======================================================== -->
    <!-- GUI editor: our actions and commands -->
    <!-- ======================================================== -->
    <extension point="org.eclipse.ui.editorActions">
        <editorContribution targetID="org.eclipse.wb.core.guiEditor"
            id="org.eclipse.ui.texteditor.ruler.actions">
            <action definitionId="org.eclipse.wb.core.commands.switch" label="%actions.switch.name"
                tooltip="%actions.switch.text"
                class="org.eclipse.wb.internal.core.editor.actions.SwitchAction"
                menubarPath="navigate/open.ext2" helpContextId="switch_page"
                id="org.eclipse.wb.core.editor.actions.SwitchAction"/>
        </editorContribution>
    </extension>

    <extension point="org.eclipse.ui.contexts">
        <context name="WindowBuilder Java scope" parentId="org.eclipse.ui.textEditorScope"
            id="org.eclipse.wb.core.java.editorScope"/>
    </extension>

    <extension point="org.eclipse.ui.commands">
        <category name="WindowBuilder Pro" description="WindowBuilder Pro actions"
            id="org.eclipse.wb.core.actions.category"/>
        <command name="%actions.switch.name" description="%actions.switch.text"
            categoryId="org.eclipse.wb.core.actions.category"
            id="org.eclipse.wb.core.commands.switch"/>
        <command name="Empty command" description="Command which does nothing"
            categoryId="org.eclipse.wb.core.actions.category"
            id="org.eclipse.wb.core.commands.empty"/>
    </extension>

    <extension point="org.eclipse.ui.bindings">
        <key sequence="F12" commandId="org.eclipse.wb.core.commands.switch"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="org.eclipse.ui.textEditorScope"/>
        <!-- set empty command for required keys -->
        <key sequence="M1+M2+A" commandId="org.eclipse.wb.core.commands.empty"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="org.eclipse.wb.core.java.editorScope"/>
        <key sequence="M1+M3+A" commandId="org.eclipse.wb.core.commands.empty"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="org.eclipse.wb.core.java.editorScope"/>
    </extension>

    <!-- ======================================================== -->
    <!-- Perspectives and views -->
    <!-- ======================================================== -->
    <extension point="org.eclipse.ui.perspectiveExtensions">
        <perspectiveExtension targetID="org.eclipse.jdt.ui.JavaPerspective">
            <viewShortcut id="org.eclipse.wb.core.StructureView"/>
            <viewShortcut id="org.eclipse.wb.core.PaletteView"/>
            <view id="org.eclipse.wb.core.StructureView" relationship="stack"
                relative="org.eclipse.jdt.ui.PackageExplorer" visible="false"/>
            <view id="org.eclipse.wb.core.PaletteView" relationship="stack"
                relative="org.eclipse.jdt.ui.PackageExplorer" visible="false"/>
        </perspectiveExtension>
    </extension>



    <!-- =================================================================================== -->
    <!-- GUI editor: content type -->
    <!-- =================================================================================== -->
    <extension point="org.eclipse.core.contenttype.contentTypes">
        <content-type id="javaSourceGUI" base-type="org.eclipse.jdt.core.javaSource"
            name="GUI Java file" file-extensions="java" priority="high"
            describer="org.eclipse.wb.internal.core.editor.describer.JavaSourceUiDescriber"/>
    </extension>




    <!-- ======================================================== -->
    <!-- Error report: log files -->
    <!-- ======================================================== -->
    <extension point="org.eclipse.wb.core.errorReportEntriesProviders">
        <provider
            class="org.eclipse.wb.internal.core.editor.errors.report2.logs.LogsReportEntriesProvider"
        />
    </extension>


    <!-- ======================================================== -->
    <!-- Preferences -->
    <!-- ======================================================== -->
    <extension point="org.eclipse.core.runtime.preferences">
        <initializer class="org.eclipse.wb.internal.core.preferences.PreferenceInitializer2"/>
    </extension>

    
    <!-- ======================================================== -->
    <!-- GEF -->
    <!-- ======================================================== -->
    <extension point="org.eclipse.wb.core.editPartFactories">
        <factory class="org.eclipse.wb.internal.core.gef.EditPartFactory2" priority="-1"/> 
    </extension>
    
    <extension point="org.eclipse.wb.core.treeEditPartFactories">
        <factory class="org.eclipse.wb.internal.core.gefTree.EditPartFactory2" priority="-1"/> 
    </extension>



</plugin>
