<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="wb-mvn">
	<locations>
		<location includeDependencyDepth="none" includeDependencyScopes="provided,runtime,test,system,import" includeSource="true" missingManifest="error" type="Maven">
			<dependencies>
				<dependency>
					<groupId>com.google.guava</groupId>
					<artifactId>guava</artifactId>
					<version>31.1-jre</version>
					<type>jar</type>
				</dependency>
			</dependencies>
		</location>
		<location includeDependencyDepth="none" includeSource="true" missingManifest="error" type="Maven">
			<dependencies>
				<dependency>
					<groupId>com.google.guava</groupId>
					<artifactId>failureaccess</artifactId>
					<version>1.0.1</version>
					<type>jar</type>
				</dependency>
			</dependencies>
		</location>
			<location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" missingManifest="error" type="Maven">
			<dependencies>
				<dependency>
					<groupId>commons-beanutils</groupId>
					<artifactId>commons-beanutils</artifactId>
					<version>1.9.4</version>
					<type>jar</type>
				</dependency>
			</dependencies>
		</location>
		<location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" missingManifest="error" type="Maven">
			<dependencies>
				<dependency>
					<groupId>org.apache.commons</groupId>
					<artifactId>commons-digester3</artifactId>
					<version>3.2</version>
					<type>jar</type>
				</dependency>
			</dependencies>
		</location>
		<location includeDependencyDepth="none" includeSource="true" missingManifest="error" type="Maven">
			<dependencies>
				<dependency>
					<groupId>commons-logging</groupId>
					<artifactId>commons-logging</artifactId>
					<version>1.2</version>
					<type>jar</type>
				</dependency>
			</dependencies>
		</location>
		<location includeDependencyDepth="none" includeSource="true" missingManifest="error" type="Maven">
			<dependencies>
				<dependency>
					<groupId>org.mvel</groupId>
					<artifactId>mvel2</artifactId>
					<version>2.4.15.Final</version>
					<type>jar</type>
				</dependency>
			</dependencies>
		</location>
		<location includeDependencyDepth="none" includeSource="true" missingManifest="error" type="Maven">
			<dependencies>
				<dependency>
					<groupId>commons-lang</groupId>
					<artifactId>commons-lang</artifactId>
					<version>2.6</version>
					<type>jar</type>
				</dependency>
			</dependencies>
		</location>
		<location includeDependencyDepth="none" includeSource="true" missingManifest="error" type="Maven">
			<dependencies>
				<dependency>
					<groupId>commons-io</groupId>
					<artifactId>commons-io</artifactId>
					<version>2.12.0</version>
					<type>jar</type>
				</dependency>
			</dependencies>
		</location>
		<location includeDependencyDepth="none" includeSource="true" missingManifest="error" type="Maven">
			<dependencies>
				<dependency>
					<groupId>org.objenesis</groupId>
					<artifactId>objenesis</artifactId>
					<version>3.3</version>
					<type>jar</type>
				</dependency>
			</dependencies>
		</location>
	</locations>
</target>