<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="wb-mvn">
	<locations>
		<location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" missingManifest="error" type="Maven">
			<dependencies>
				<dependency>
					<groupId>com.miglayout</groupId>
					<artifactId>miglayout-core</artifactId>
					<version>11.4.2</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>com.miglayout</groupId>
					<artifactId>miglayout-swing</artifactId>
					<version>11.4.2</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>com.sun.xml.bind</groupId>
					<artifactId>jaxb-osgi</artifactId>
					<version>4.0.5</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>commons-io</groupId>
					<artifactId>commons-io</artifactId>
					<version>2.20.0</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>io.github.toolfactory</groupId>
					<artifactId>jvm-driver</artifactId>
					<version>9.9.10</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>io.github.toolfactory</groupId>
					<artifactId>narcissus</artifactId>
					<version>1.0.11</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>jakarta.activation</groupId>
					<artifactId>jakarta.activation-api</artifactId>
					<version>2.1.4</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>jakarta.xml.bind</groupId>
					<artifactId>jakarta.xml.bind-api</artifactId>
					<version>4.0.4</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>org.apache.commons</groupId>
					<artifactId>commons-text</artifactId>
					<version>1.14.0</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>org.burningwave</groupId>
					<artifactId>core</artifactId>
					<version>12.66.2</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>org.burningwave</groupId>
					<artifactId>jvm-driver</artifactId>
					<version>8.19.1</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>org.mvel</groupId>
					<artifactId>mvel2</artifactId>
					<version>2.5.2.Final</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>org.objenesis</groupId>
					<artifactId>objenesis</artifactId>
					<version>3.4</version>
					<type>jar</type>
				</dependency>
			</dependencies>
		</location>
	</locations>
</target>