<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <!-- ======================================================== -->
   <!-- ObserveType -->
   <!-- ======================================================== -->
   <extension point="org.eclipse.wb.rcp.databinding.observeTypeContainer">
      <container class="org.eclipse.wb.internal.rcp.databinding.emf.model.EmfObserveTypeContainer"/>
   </extension>


   <!-- ======================================================== -->
   <!-- ObserveFactory -->
   <!-- ======================================================== -->
   <extension point="org.eclipse.wb.rcp.databinding.observeFactory">
      <factory class="org.eclipse.wb.internal.rcp.databinding.emf.model.GlobalObservableFactory"/>
   </extension>

   <!-- ======================================================== -->
   <!-- Preferences -->
   <!-- ======================================================== -->
   <extension point="org.eclipse.core.runtime.preferences">
      <initializer class="org.eclipse.wb.internal.rcp.databinding.emf.preferences.PreferenceInitializer"/>
   </extension>

</plugin>
