<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="databindingFactories" name="Factories for parsing support"
      schema="schema/databindingFactories.exsd"/>


   <!-- ======================================================== -->
   <!-- IRootProcessor -->
   <!-- ======================================================== -->
   <extension point="org.eclipse.wb.core.xml.rootProcessors">
      <processor class="org.eclipse.wb.internal.core.databinding.xml.parser.DatabindingRootProcessor"/>
   </extension>

</plugin>
