<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

	<!-- ======================================================== -->
	<!-- GUI editor -->
	<!-- ======================================================== -->
	<extension point="org.eclipse.ui.editors">
		<editor class="org.eclipse.wb.internal.core.editor.multi.DesignerEditor"
			contributorClass="org.eclipse.wb.internal.core.editor.multi.DesignerEditorContributor"
			extensions="java" icon="icons/gui_editor.gif" id="org.eclipse.wb.core.guiEditor"
			symbolicFontName="org.eclipse.jdt.ui.editors.textfont"
			name="WindowBuilder Editor">
			<contentTypeBinding contentTypeId="org.eclipse.wb.core.javaSourceGUI"/>
		</editor>
	</extension>

	<!-- ======================================================== -->
	<!-- Preferences -->
	<!-- ======================================================== -->
	<extension point="org.eclipse.ui.preferenceTransfer">
		<transfer id="org.eclipse.wb.core.preferencesTransfer" icon="icons/preference_transfer.png"
			name="WindowBuilders Preferences">
			<mapping scope="instance">
				<entry node="org.eclipse.wb.core"/>
			</mapping>
		</transfer>
	</extension>

	<extension point="org.eclipse.ui.preferencePages">
		<page id="org.eclipse.wb.core.preferences.MainPreferencePage"
			class="org.eclipse.wb.internal.core.preferences.MainPreferencePage" name="WindowBuilder">
			<keywordReference id="org.eclipse.wb.kw.root"/>
		</page>
		<page id="org.eclipse.wb.core.preferences.ParsingPreferencePage"
			category="org.eclipse.wb.core.preferences.MainPreferencePage"
			class="org.eclipse.wb.internal.core.preferences.ParsingPreferencePage"
			name="Code Parsing">
			<keywordReference id="org.eclipse.wb.kw.codeParsing"/>
		</page>
	</extension>

	<extension point="org.eclipse.ui.keywords">
		<keyword label="%preferenceKeywords.root" id="org.eclipse.wb.kw.root"/>
		<keyword label="%preferenceKeywords.codeParsing" id="org.eclipse.wb.kw.codeParsing"/>
	</extension>

	<!-- ======================================================== -->
	<!-- New Wizards -->
	<!-- ======================================================== -->
	<extension point="org.eclipse.ui.newWizards">
		<category id="org.eclipse.wb" name="WindowBuilder"/>
		<wizard category="org.eclipse.wb"
			class="org.eclipse.wb.internal.core.wizards.palette.NewProjectPaletteWizard"
			icon="icons/wizard/palette/wizard.gif"
			id="org.eclipse.wb.core.wizards.palette.NewPalettePluginWizard" name="Project Palette"
			wbp-menu-visible="false">
			<description> Create a palette extension for selected project. </description>
		</wizard>
	</extension>

	<!-- ======================================================== -->
	<!-- Perspectives and views -->
	<!-- ======================================================== -->
	<extension point="org.eclipse.ui.actionSets">
		<actionSet label="Designer Actions" visible="true" id="org.eclipse.wb.core.ui.actionset">
			<action
				class="org.eclipse.wb.internal.core.wizards.actions.NewDesignerTypeDropDownAction"
				icon="icons/wizard/dropdown.gif"
				id="org.eclipse.wb.core.wizards.actions.NewDesignerTypeDropDownAction"
				label="New Visual Class" style="pulldown"
				toolbarPath="org.eclipse.ui.workbench.file/new.ext"
				tooltip="Create new visual classes"/>
		</actionSet>
	</extension>

</plugin>
