<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<!-- ======================================================== -->
	<!-- Extension points -->
	<!-- ======================================================== -->
	<extension-point id="initializationParticipators" name="XMLObject initialization participators"
		schema="schema/initializationParticipators.exsd"/>
	<extension-point id="rootProcessors" name="Root processors" schema="schema/rootProcessors.exsd"/>
	<!-- editor -->
	<extension-point id="pairResourceProviders" name="Providers for pair/companion resource"
		schema="schema/pairResourceProviders.exsd"/>
	<!-- descriptions -->
	<extension-point id="descriptionProcessors" name="Processors for loaded descriptions"
		schema="schema/descriptionProcessors.exsd"/>
	<extension-point id="descriptionRulesProviders"
		name="Providers for additional Rules for loading ComponentDescription"
		schema="schema/descriptionRulesProviders.exsd"/>
	<!-- property -->
	<extension-point id="propertyEditors" name="Property editors" schema="schema/propertyEditors.exsd"/>
	<extension-point id="propertyConverters" name="Property value to XML converter"
		schema="schema/propertyConverters.exsd"/>
	<!-- XML pages -->
	<extension-point id="XMLEditorPageFactories" name="Factories for XML editior pages"
		schema="schema/XMLEditorPageFactories.exsd"/>


	<!-- ======================================================== -->
	<!-- Early startup -->
	<!-- ======================================================== -->
	<extension point="org.eclipse.ui.startup"/>


	<!-- ======================================================== -->
	<!-- Exceptions -->
	<!-- ======================================================== -->
	<extension point="org.eclipse.wb.core.exceptions">
		<file path="resources/exceptions.xml"/>
	</extension>


	<!-- ======================================================== -->
	<!-- Class loader -->
	<!-- ======================================================== -->
	<extension point="org.eclipse.wb.core.classLoadingContributor">
		<contributor namespace="org.eclipse.wb.internal.core.xml."/>
	</extension>


	<!-- ======================================================== -->
	<!-- Description driven features -->
	<!-- ======================================================== -->
	<extension point="org.eclipse.wb.core.xml.rootProcessors">
		<processor class="org.eclipse.wb.internal.core.xml.model.XmlObjectRootProcessor"/>
		<processor class="org.eclipse.wb.internal.core.xml.model.generic.SimpleContainerClipboardSupport"
		/>
	</extension>

	<extension point="org.eclipse.wb.core.xml.initializationParticipators">
		<participator
			class="org.eclipse.wb.internal.core.xml.model.utils.DescriptionDrivenFeaturesParticipator"/>
	</extension>


	<!-- ======================================================== -->
	<!-- ExpressionConverter -->
	<!-- ======================================================== -->
	<extension point="org.eclipse.wb.core.xml.propertyConverters">
		<converter type="boolean"
			class="org.eclipse.wb.internal.core.xml.model.property.converter.BooleanConverter"/>
		<converter type="int"
			class="org.eclipse.wb.internal.core.xml.model.property.converter.IntegerConverter"/>
		<converter type="float"
			class="org.eclipse.wb.internal.core.xml.model.property.converter.FloatConverter"/>
		<!--<converter type="java.lang.Boolean"
			class="org.eclipse.wb.internal.core.model.property.converter.BooleanObjectConverter"/>
		<converter type="char"
			class="org.eclipse.wb.internal.core.model.property.converter.CharacterConverter"/>
		<converter type="byte" class="org.eclipse.wb.internal.core.model.property.converter.ByteConverter"/>
		<converter type="short"
			class="org.eclipse.wb.internal.core.model.property.converter.ShortConverter"/>
		<converter type="java.lang.Integer"
			class="org.eclipse.wb.internal.core.model.property.converter.IntegerObjectConverter"/>
		<converter type="long" class="org.eclipse.wb.internal.core.model.property.converter.LongConverter"/>
		<converter type="double"
			class="org.eclipse.wb.internal.core.model.property.converter.DoubleConverter"/>-->
		<converter type="java.lang.String"
			class="org.eclipse.wb.internal.core.xml.model.property.converter.StringConverter"/>
		<!--<converter type="java.util.Locale"
			class="org.eclipse.wb.internal.core.model.property.converter.LocaleConverter"/>-->
	</extension>


	<!-- ======================================================== -->
	<!-- PropertyEditor -->
	<!-- ======================================================== -->
	<extension point="org.eclipse.wb.core.xml.propertyEditors">
		<!-- typed -->
		<editor type="boolean"
			class="org.eclipse.wb.internal.core.model.property.editor.BooleanPropertyEditor"/>
		<editor type="int"
			class="org.eclipse.wb.internal.core.model.property.editor.IntegerPropertyEditor"/>
		<editor type="java.lang.String"
			class="org.eclipse.wb.internal.core.model.property.editor.string.StringPropertyEditor"/>
		<editor type="java.lang.String[]"
			class="org.eclipse.wb.internal.core.model.property.editor.StringArrayPropertyEditor"/>
		<!-- configurable -->
		<configurableEditor id="staticField"
			class="org.eclipse.wb.internal.core.xml.model.property.editor.StaticFieldPropertyEditor"/>
	</extension>


	<!-- ======================================================== -->
	<!-- Actions and commands -->
	<!-- ======================================================== -->
	<extension point="org.eclipse.ui.editorActions">
		<editorContribution id="org.eclipse.wb.core.xml.editor.actions.forJava"
			targetID="org.eclipse.jdt.ui.CompilationUnitEditor">
			<action id="org.eclipse.wb.core.xml.editor.actions.SwitchPairEditorAction"
				class="org.eclipse.wb.internal.core.xml.editor.actions.SwitchPairEditorAction"
				definitionId="org.eclipse.wb.core.xml.editor.actions.SwitchPairEditorAction"
				label="%actions.switchPair.name" tooltip="%actions.switchPait.text"
				menubarPath="navigate/open.ext2" helpContextId="switch_page"/>
		</editorContribution>
		<editorContribution id="org.eclipse.wb.core.xml.editor.actions.forJavaUi"
			targetID="org.eclipse.wb.core.guiEditor">
			<action id="org.eclipse.wb.core.xml.editor.actions.SwitchPairEditorAction"
				class="org.eclipse.wb.internal.core.xml.editor.actions.SwitchPairEditorAction"
				definitionId="org.eclipse.wb.core.xml.editor.actions.SwitchPairEditorAction"
				label="%actions.switchPair.name" tooltip="%actions.switchPair.text"
				menubarPath="navigate/open.ext2" helpContextId="switch_page"/>
		</editorContribution>
	</extension>


	<extension point="org.eclipse.ui.commands">
		<category name="WindowBuilder Pro" description="WindowBuilder Pro actions"
			id="org.eclipse.wb.core.actions.category"/>
		<command name="%actions.switch.name" description="%actions.switch.text"
			categoryId="org.eclipse.wb.core.actions.category"
			id="org.eclipse.wb.core.xml.editor.actions.SwitchAction"/>
		<command name="%actions.switchPair.name" description="%actions.switchPair.text"
			categoryId="org.eclipse.wb.core.actions.category"
			id="org.eclipse.wb.core.xml.editor.actions.SwitchPairEditorAction"/>
		<command name="Empty command" description="Command which does nothing"
			categoryId="org.eclipse.wb.core.actions.category"
			id="org.eclipse.wb.core.xml.commands.empty"/>
	</extension>

	<extension point="org.eclipse.ui.contexts">
		<context name="WindowBuilder XML scope"
			parentId="org.eclipse.wst.sse.ui.structuredTextEditorScope"
			id="org.eclipse.wb.core.xml.editorScope"/>
	</extension>

	<extension point="org.eclipse.ui.bindings">
		<key sequence="F12" commandId="org.eclipse.wb.core.xml.editor.actions.SwitchAction"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			contextId="org.eclipse.wb.core.xml.editorScope"/>
		<key sequence="M2+F12"
			commandId="org.eclipse.wb.core.xml.editor.actions.SwitchPairEditorAction"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			contextId="org.eclipse.ui.textEditorScope"/>
		<!-- set empty command for required keys -->
		<key sequence="M1+M2+A" commandId="org.eclipse.wb.core.commands.empty"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			contextId="org.eclipse.wb.core.xml.editorScope"/>
		<key sequence="M1+M3+A" commandId="org.eclipse.wb.core.commands.empty"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			contextId="org.eclipse.wb.core.xml.editorScope"/>
	</extension>



	<!-- ======================================================== -->
	<!-- Toolkit -->
	<!-- ======================================================== -->
	<extension point="org.eclipse.wb.core.toolkits">
		<toolkit id="org.eclipse.wb.core">
			<resourcePrefixes>
				<resourcePrefix>java.</resourcePrefix>
			</resourcePrefixes>
		</toolkit>
	</extension>


	<!-- ======================================================== -->
	<!-- GEF factories -->
	<!-- ======================================================== -->
	<extension point="org.eclipse.wb.core.editPartFactories">
		<factory class="org.eclipse.wb.internal.core.xml.gef.EditPartFactory"/>
	</extension>


	<!-- ======================================================== -->
	<!-- GEF canvas -->
	<!-- ======================================================== -->
	<extension point="org.eclipse.wb.core.editPartConfigurators">
		<configurator class="org.eclipse.wb.internal.core.xml.gef.GenericContainersConfigurator"/>
	</extension>

	<extension point="org.eclipse.wb.core.editPolicyFactories">
		<factory class="org.eclipse.wb.internal.core.xml.gef.GenericContainersLayoutEditPolicyFactory"/>
	</extension>


	<!-- ======================================================== -->
	<!-- GEF tree -->
	<!-- ======================================================== -->
	<extension point="org.eclipse.wb.core.treeEditPartFactories">
		<factory class="org.eclipse.wb.internal.core.xml.gefTree.EditPartFactory"/>
	</extension>
	
	<extension point="org.eclipse.wb.core.treeEditPartConfigurators">
		<configurator class="org.eclipse.wb.internal.core.xml.gefTree.GenericContainersConfigurator"/>
	</extension>

	<extension point="org.eclipse.wb.core.treeEditPolicyFactories">
		<factory
			class="org.eclipse.wb.internal.core.xml.gefTree.GenericContainersLayoutEditPolicyFactory"/>
	</extension>

</plugin>
