<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>


	<!-- ======================================================== -->
	<!-- Toolkit -->
	<!-- ======================================================== -->
	<extension point="org.eclipse.wb.core.toolkits">
		<toolkit id="org.eclipse.wb.swing">
			<resourcePrefixes>
				<resourcePrefix>net.miginfocom.</resourcePrefix>
			</resourcePrefixes>
			<classLoader-bundle bundle="org.eclipse.wb.swing.MigLayout"
				namespaces="net.miginfocom"/>
			<palette>
				<component class="net.miginfocom.swing.MigLayout"
					category="org.eclipse.wb.swing.layouts">
					<bundle-library type="net.miginfocom.swing.MigLayout"
						symbolicName="com.miglayout.swing"/>
					<bundle-library type="net.miginfocom.layout.LayoutUtil"
						symbolicName="com.miglayout.core"/>
				</component>
			</palette>
		</toolkit>
	</extension>
	
	<extension point="org.eclipse.wb.core.paletteComponentExists">
		<component package="net.miginfocom.swing." always="true"/>
	</extension>
	

	<!-- ======================================================== -->
	<!-- Layout managers -->
	<!-- ======================================================== -->
	<extension point="org.eclipse.wb.core.layoutManagers">
		<layout toolkit="org.eclipse.wb.swing" id="MigLayout" name="MigLayout"
			class="net.miginfocom.swing.MigLayout">
			<bundle-library type="net.miginfocom.swing.MigLayout"
				symbolicName="com.miglayout.swing"/>
			<bundle-library type="net.miginfocom.layout.LayoutUtil"
				symbolicName="com.miglayout.core"/>
		</layout>
	</extension>


	<!-- ======================================================== -->
	<!-- Surround with -->
	<!-- ======================================================== -->
	<extension point="org.eclipse.wb.core.surroundWith">
		<!-- processors -->
		<processor toolkit="org.eclipse.wb.swing"
			class="org.eclipse.wb.internal.swing.MigLayout.model.MigLayoutSurroundProcessor"/>
	</extension>


	<!-- ======================================================== -->
	<!-- Preferences -->
	<!-- ======================================================== -->
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="org.eclipse.wb.internal.swing.MigLayout.model.PreferenceInitializer"/>
	</extension>

	<extension point="org.eclipse.ui.preferencePages">
		<page category="org.eclipse.wb.swing.preferences.layout.LayoutSupportPreferencePage"
			class="org.eclipse.wb.internal.swing.MigLayout.preferences.MigLayoutPreferencePage"
			id="org.eclipse.wb.swing.MigLayout.preferences.MigLayoutPreferencePage"
			name="MigLayout"/>
	</extension>


	<!-- ======================================================== -->
	<!-- GEF factories -->
	<!-- ======================================================== -->
	<extension point="org.eclipse.wb.core.editPolicyFactories">
		<factory class="org.eclipse.wb.internal.swing.MigLayout.gef.LayoutEditPolicyFactory"/>
	</extension>

</plugin>
