[loggers]
keys=root,eclipse,util,main

[handlers]
keys=console,file

[formatters]
keys=console,file

[logger_root]
level=INFO
handlers=file

[logger_eclipse]
level=INFO
handlers=console
qualname=releng.eclipse

[logger_util]
level=NOTSET
handlers=console
qualname=releng.util

[logger_main]
level=INFO
handlers=console
qualname=releng

[handler_console]
class=StreamHandler
level=NOTSET
formatter=console
args=(sys.stdout,)

[handler_file]
class=FileHandler
level=DEBUG
formatter=file
args=('python.log', 'w')

[formatter_console]
format=F1 %(asctime)s %(levelname)s %(message)s
datefmt=
class=logging.Formatter

[formatter_file]
format=%(asctime)s %(levelname)s %(message)s
datefmt=
class=logging.Formatter
