<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <!-- ======================================================== -->
   <!-- Parser -->
   <!-- ======================================================== -->
   <extension point="org.eclipse.wb.core.databinding.xml.databindingFactories">
      <factory class="org.eclipse.wb.internal.rcp.databinding.xwt.DatabindingFactory"/>
   </extension>


   <!-- ======================================================== -->
   <!-- DesignPage -->
   <!-- ======================================================== -->
   <extension point="org.eclipse.wb.core.xml.XMLEditorPageFactories">
      <factory class="org.eclipse.wb.internal.rcp.databinding.xwt.DesignPageFactory"/>
   </extension>

</plugin>
