<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="wb">
	<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/releases/2021-12"/>
			<unit id="org.eclipse.sdk.feature.group" version="4.22.0.v20211124-1800"/>
			<unit id="org.eclipse.wst.sse.core" version="0.0.0"/>
			<unit id="org.eclipse.wst.sse.ui" version="0.0.0"/>
			<unit id="org.eclipse.wst.xml.ui" version="0.0.0"/>
		</location>
		<location includeDependencyDepth="infinite" includeDependencyScopes="compile" includeSource="true" missingManifest="generate" type="Maven">
			<dependencies>
				<dependency>
					<groupId>cglib</groupId>
					<artifactId>cglib-nodep</artifactId>
					<version>2.2</version>
					<type>jar</type>
				</dependency>
			</dependencies>
		</location>
	</locations>
</target>