<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

	<!-- ======================================================== -->
	<!-- Extension points -->
	<!-- ======================================================== -->
	<extension-point id="exceptions" name="Exception description files"
		schema="schema/exceptions.exsd"/>
	<extension-point id="adaptableFactories" name="Adaptable factories"
		schema="schema/adaptableFactories.exsd"/>
	<extension-point id="projectClasspathListeners"
		name="Listener for Java project classpath changes"
		schema="schema/projectClasspathListeners.exsd"/>
	<extension-point id="designerContentPatterns" name="Patterns for detecting Designer GUI"
		schema="schema/designerContentPatterns.exsd"/>
	<!-- descriptions -->
	<extension-point id="descriptionProcessors" name="Processors for loaded descriptions"
		schema="schema/descriptionProcessors.exsd"/>
	<extension-point id="descriptionVersionsProviderFactories"
		name="Factory for provider of description resources versions"
		schema="schema/descriptionVersionsProviderFactories.exsd"/>
	<!-- toolkit -->
	<extension-point id="toolkits" name="GUI toolkits" schema="schema/toolkits.exsd"/>
	<extension-point id="componentsHierarchyProviders" name="Components hierarchy providers"
		schema="schema/componentsHierarchyProviders.exsd"/>
	<extension-point id="layoutManagers" name="Layout managers for toolkit"
		schema="schema/layoutManagers.exsd"/>
	<extension-point id="surroundWith" name="Targets for surrounding components with some container"
		schema="schema/surroundWith.exsd"/>
	<!-- parsing -->
	<extension-point id="executionFlowProviders" name="Provider for execution flow tweaks"
		schema="schema/executionFlowProviders.exsd"/>
	<extension-point id="parseFactories" name="Factories for parsing support"
		schema="schema/parseFactories.exsd"/>
	<extension-point id="classLoadingContributor"
		name="Contributor for loading class from Designer plugins"
		schema="schema/classLoadingContributor.exsd"/>
	<extension-point id="classLoaderInitializers"
		name="Listener for loading classes from project ClassLoader"
		schema="schema/classLoaderInitializers.exsd"/>
	<extension-point id="parseContextProcessors" name="Processors for parsing context"
		schema="schema/parseContextProcessors.exsd"/>
	<extension-point id="javaInfoInitializationParticipators"
		name="Participators of JavaInfo initialization"
		schema="schema/javaInfoInitializationParticipators.exsd"/>
	<extension-point id="rootProcessors" name="Root JavaInfo processors"
		schema="schema/rootProcessors.exsd"/>
	<extension-point id="unknownParameterEvaluators" name="Evaluators for unknown method parameters"
		schema="schema/unknownParameterEvaluators.exsd"/>
	<!-- property -->
	<extension-point id="propertyEditors" name="Property editors"
		schema="schema/propertyEditors.exsd"/>
	<extension-point id="expressionEvaluators" name="Evaluators for AST Expressions"
		schema="schema/expressionEvaluators.exsd"/>
	<extension-point id="invocationEvaluatorInterceptors"
		name="Interceptor for MethodInvocation/ClassInstanceCreation evaluation"
		schema="schema/invocationEvaluatorInterceptors.exsd"/>
	<extension-point id="propertyConverters" name="Property value to Java source converter"
		schema="schema/propertyConverters.exsd"/>
	<extension-point id="standardToolkitPackages" schema="schema/standardToolkitPackages.exsd"
		name="Package prefixes for standard toolkit components"/>
	<!-- Property UI -->
	<extension-point id="propertiesPageCategoryProviders"
		name="Providers of PropertyCategoryProvider"
		schema="schema/propertiesPageCategoryProviders.exsd"/>
	<extension-point id="propertiesPageProcessors"
		name="Processors for List for Property before displaying"
		schema="schema/propertiesPageProcessors.exsd"/>
	<extension-point id="propertiesPageActions" name="Contributions for properties page actions"
		schema="schema/propertiesPageActions.exsd"/>
	<!-- palette -->
	<extension-point id="paletteComponentExists" name="Palette component quick check for existence"
		schema="schema/paletteComponentExists.exsd"/>
	<!-- NLS -->
	<extension-point id="nlsSources" name="NLS sources" schema="schema/nlsSources.exsd"/>
	<!-- GEF -->
	<extension-point id="editPartFactories" name="GEF EditPart factories"
		schema="schema/editPartFactories.exsd"/>
	<extension-point id="editPolicyFactories" name="LayoutEditPolicy factories"
		schema="schema/editPolicyFactories.exsd"/>
	<extension-point id="editPartConfigurators" name="EditPart configurators"
		schema="schema/editPartConfigurators.exsd"/>
	<!-- GEF for tree -->
	<extension-point id="treeEditPartFactories" name="GEF EditPart factories for TreeViewer"
		schema="schema/treeEditPartFactories.exsd"/>
	<extension-point id="treeEditPolicyFactories" name="LayoutEditPolicy factories for TreeViewer"
		schema="schema/treeEditPolicyFactories.exsd"/>
	<extension-point id="treeEditPartConfigurators" name="EditPart configurators for TreeViewer"
		schema="schema/treeEditPartConfigurators.exsd"/>
	<!-- Baseline -->
	<extension-point id="baselineSupport" name="Component&apos;s baseline offset provider"
		schema="schema/baselineSupport.exsd"/>
	<extension-point id="configurablePropertyFactories"
		name="Factories for creating configurable (not generic) properties"
		schema="schema/configurablePropertyFactories.exsd"/>
	<!-- DesignPages -->
	<extension-point id="editorLifeCycleListeners" name="Listener for Java based editor life cycle"
		schema="schema/editorLifeCycleListeners.exsd"/>
	<extension-point id="designPageFactories" name="Factories for design pages"
		schema="schema/designPageFactories.exsd"/>
	<!-- Error Reporting -->
	<extension-point id="errorReportEntriesProviders"
		name="Providers for extra report entries which further will be included into error report"
		schema="schema/errorReportProviders.exsd"/>
	<!-- Branding -->
	<extension-point id="branding" name="Branding descriptions" schema="schema/branding.exsd"/>



	<!-- ======================================================== -->
	<!-- Exceptions -->
	<!-- ======================================================== -->
	<extension point="org.eclipse.wb.core.exceptions">
		<file path="resources/exceptions.xml"/>
		<rewriter class="org.eclipse.wb.internal.core.editor.errors.CoreExceptionRewriter"/>
	</extension>


	<!-- ======================================================== -->
	<!-- Description driven features -->
	<!-- ======================================================== -->
	<extension point="org.eclipse.wb.core.javaInfoInitializationParticipators">
		<participator
			class="org.eclipse.wb.internal.core.model.util.generic.DescriptionDrivenFeaturesParticipator"
		/>
	</extension>

	<extension point="org.eclipse.wb.core.rootProcessors">
		<processor class="org.eclipse.wb.internal.core.model.JavaInfoRootProcessor"/>
		<processor
			class="org.eclipse.wb.internal.core.model.util.generic.LocalStaticFactoriesRootProcessor"/>
		<processor
			class="org.eclipse.wb.internal.core.model.generic.SimpleContainerClipboardSupport"/>
		<processor
			class="org.eclipse.wb.internal.core.model.creation.factory.InstanceFactoryRootProcessor"/>
		<processor class="org.eclipse.wb.internal.core.model.layout.GeneralLayoutDataRemover"/>
		<processor class="org.eclipse.wb.internal.core.model.nonvisual.NonVisualBeanRootProcessor"
			priority="-1"/>
	</extension>


	<!-- ======================================================== -->
	<!-- Parser -->
	<!-- ======================================================== -->
	<extension point="org.eclipse.wb.core.parseFactories">
		<noModel class="org.eclipse.wb.internal.core.parser.ParseFactoryNoModelJava"/>
	</extension>


	<!-- ======================================================== -->
	<!-- Expression evaluators -->
	<!-- ======================================================== -->
	<extension point="org.eclipse.wb.core.expressionEvaluators">
		<!-- primitives -->
		<evaluator class="org.eclipse.wb.internal.core.eval.evaluators.BooleanEvaluator"/>
		<evaluator class="org.eclipse.wb.internal.core.eval.evaluators.CharEvaluator"/>
		<evaluator class="org.eclipse.wb.internal.core.eval.evaluators.IntegerEvaluator"/>
		<evaluator class="org.eclipse.wb.internal.core.eval.evaluators.LongEvaluator"/>
		<evaluator class="org.eclipse.wb.internal.core.eval.evaluators.FloatEvaluator"/>
		<evaluator class="org.eclipse.wb.internal.core.eval.evaluators.DoubleEvaluator"/>
		<!-- java.lang.String -->
		<evaluator class="org.eclipse.wb.internal.core.eval.evaluators.StringEvaluator"/>
		<!-- NLS -->
		<evaluator class="org.eclipse.wb.internal.core.nls.NlsStringEvaluator" priority="1"/>
		<!-- other -->
		<evaluator class="org.eclipse.wb.internal.core.eval.evaluators.AssignmentEvaluator"/>
		<evaluator class="org.eclipse.wb.internal.core.eval.evaluators.ArrayEvaluator"/>
		<evaluator class="org.eclipse.wb.internal.core.eval.evaluators.ClassEvaluator"/>
		<evaluator class="org.eclipse.wb.internal.core.eval.evaluators.CastEvaluator"/>
		<evaluator class="org.eclipse.wb.internal.core.eval.evaluators.FieldAccessEvaluator"/>
		<evaluator class="org.eclipse.wb.internal.core.eval.evaluators.InvocationEvaluator"/>
		<evaluator class="org.eclipse.wb.internal.core.eval.evaluators.QualifiedNameEvaluator"/>
		<evaluator class="org.eclipse.wb.internal.core.eval.evaluators.SimpleNameEvaluator"/>
		<evaluator
			class="org.eclipse.wb.internal.core.eval.evaluators.ConditionalExpressionEvaluator"/>
	</extension>


	<!-- ======================================================== -->
	<!-- ExpressionConverter -->
	<!-- ======================================================== -->
	<extension point="org.eclipse.wb.core.propertyConverters">
		<!-- primitives -->
		<converter type="boolean"
			class="org.eclipse.wb.internal.core.model.property.converter.BooleanConverter"/>
		<converter type="char"
			class="org.eclipse.wb.internal.core.model.property.converter.CharacterConverter"/>
		<converter type="byte"
			class="org.eclipse.wb.internal.core.model.property.converter.ByteConverter"/>
		<converter type="short"
			class="org.eclipse.wb.internal.core.model.property.converter.ShortConverter"/>
		<converter type="int"
			class="org.eclipse.wb.internal.core.model.property.converter.IntegerConverter"/>
		<converter type="long"
			class="org.eclipse.wb.internal.core.model.property.converter.LongConverter"/>
		<converter type="float"
			class="org.eclipse.wb.internal.core.model.property.converter.FloatConverter"/>
		<converter type="double"
			class="org.eclipse.wb.internal.core.model.property.converter.DoubleConverter"/>
		<!-- wrappers -->
		<converter type="java.lang.Boolean"
			class="org.eclipse.wb.internal.core.model.property.converter.BooleanObjectConverter"/>
		<converter type="java.lang.Byte"
			class="org.eclipse.wb.internal.core.model.property.converter.ByteObjectConverter"/>
		<converter type="java.lang.Short"
			class="org.eclipse.wb.internal.core.model.property.converter.ShortObjectConverter"/>
		<converter type="java.lang.Integer"
			class="org.eclipse.wb.internal.core.model.property.converter.IntegerObjectConverter"/>
		<converter type="java.lang.Long"
			class="org.eclipse.wb.internal.core.model.property.converter.LongObjectConverter"/>
		<converter type="java.lang.Double"
			class="org.eclipse.wb.internal.core.model.property.converter.DoubleObjectConverter"/>
		<!-- other -->
		<converter type="java.lang.String"
			class="org.eclipse.wb.internal.core.model.property.converter.StringConverter"/>
		<converter type="java.lang.String[]"
			class="org.eclipse.wb.internal.core.model.property.converter.StringArrayConverter"/>
		<converter type="java.util.Locale"
			class="org.eclipse.wb.internal.core.model.property.converter.LocaleConverter"/>
	</extension>


	<!-- ======================================================== -->
	<!-- PropertyEditor -->
	<!-- ======================================================== -->
	<extension point="org.eclipse.wb.core.propertyEditors">
		<!-- primitives -->
		<editor type="boolean"
			class="org.eclipse.wb.internal.core.model.property.editor.BooleanPropertyEditor"/>
		<editor type="byte"
			class="org.eclipse.wb.internal.core.model.property.editor.BytePropertyEditor"/>
		<editor type="char"
			class="org.eclipse.wb.internal.core.model.property.editor.CharacterPropertyEditor"/>
		<editor type="short"
			class="org.eclipse.wb.internal.core.model.property.editor.ShortPropertyEditor"/>
		<editor type="int"
			class="org.eclipse.wb.internal.core.model.property.editor.IntegerPropertyEditor"/>
		<editor type="long"
			class="org.eclipse.wb.internal.core.model.property.editor.LongPropertyEditor"/>
		<editor type="float"
			class="org.eclipse.wb.internal.core.model.property.editor.FloatPropertyEditor"/>
		<editor type="double"
			class="org.eclipse.wb.internal.core.model.property.editor.DoublePropertyEditor"/>
		<!-- wrappers -->
		<editor type="java.lang.Boolean"
			class="org.eclipse.wb.internal.core.model.property.editor.BooleanObjectPropertyEditor"/>
		<editor type="java.lang.Byte"
			class="org.eclipse.wb.internal.core.model.property.editor.ByteObjectPropertyEditor"/>
		<editor type="java.lang.Short"
			class="org.eclipse.wb.internal.core.model.property.editor.ShortObjectPropertyEditor"/>
		<editor type="java.lang.Integer"
			class="org.eclipse.wb.internal.core.model.property.editor.IntegerObjectPropertyEditor"/>
		<editor type="java.lang.Long"
			class="org.eclipse.wb.internal.core.model.property.editor.LongObjectPropertyEditor"/>
		<editor type="java.lang.Double"
			class="org.eclipse.wb.internal.core.model.property.editor.DoubleObjectPropertyEditor"/>
		<!-- typed -->
		<editor type="java.lang.String"
			class="org.eclipse.wb.internal.core.model.property.editor.string.StringPropertyEditor"/>
		<editor type="java.lang.String[]"
			class="org.eclipse.wb.internal.core.model.property.editor.StringArrayPropertyEditor"/>
		<editor type="java.util.Locale"
			class="org.eclipse.wb.internal.core.model.property.editor.LocalePropertyEditor"/>
		<!-- configurable -->
		<configurableEditor id="staticField"
			class="org.eclipse.wb.internal.core.model.property.editor.StaticFieldPropertyEditor"/>
		<configurableEditor id="innerClass"
			class="org.eclipse.wb.internal.core.model.property.editor.InnerClassPropertyEditor"/>
		<configurableEditor id="constantSelection"
			class="org.eclipse.wb.internal.core.model.property.editor.ConstantSelectionPropertyEditor"/>
		<configurableEditor id="displayExpression"
			class="org.eclipse.wb.internal.core.model.property.editor.DisplayExpressionPropertyEditor"/>
		<configurableEditor id="stringList"
			class="org.eclipse.wb.internal.core.model.property.editor.StringListPropertyEditor"/>
		<configurableEditor id="instanceList"
			class="org.eclipse.wb.internal.core.model.property.editor.InstanceListPropertyEditor"/>
		<configurableEditor id="expressionList"
			class="org.eclipse.wb.internal.core.model.property.editor.ExpressionListPropertyEditor"/>
		<configurableEditor id="instanceObject"
			class="org.eclipse.wb.internal.core.model.property.editor.complex.InstanceObjectPropertyEditor"/>
		<configurableEditor id="customDate"
			class="org.eclipse.wb.internal.core.model.property.editor.DatePropertyEditor"/>
		<configurableEditor id="style"
			class="org.eclipse.wb.internal.core.model.property.editor.style.StylePropertyEditor"/>
		<!-- providers -->
		<provider
			class="org.eclipse.wb.internal.core.model.property.editor.PropertyDescriptorEditorProvider"
		/>
	</extension>


	<!-- ======================================================== -->
	<!-- Configurable properties -->
	<!-- ======================================================== -->
	<extension point="org.eclipse.wb.core.configurablePropertyFactories">
		<factory id="stringsAdd"
			class="org.eclipse.wb.internal.core.model.property.configurable.StringsAddPropertyFactory"
		/>
	</extension>


	<!-- ======================================================== -->
	<!-- NLS sources -->
	<!-- ======================================================== -->
	<extension point="org.eclipse.wb.core.nlsSources">
		<description id="org.eclipse.wb.core.nls.bundle.eclipse.old.EclipseSource"
			source="org.eclipse.wb.internal.core.nls.bundle.eclipse.old.EclipseSource"
			composite="org.eclipse.wb.internal.core.nls.bundle.eclipse.old.EclipseSourceNewComposite"/>
		<description id="org.eclipse.wb.core.nls.bundle.eclipse.modern.ModernEclipseSource"
			source="org.eclipse.wb.internal.core.nls.bundle.eclipse.modern.ModernEclipseSource"
			composite="org.eclipse.wb.internal.core.nls.bundle.eclipse.modern.ModernEclipseSourceNewComposite"/>
		<description id="org.eclipse.wb.core.nls.bundle.pure.direct.DirectSource"
			source="org.eclipse.wb.internal.core.nls.bundle.pure.direct.DirectSource"
			composite="org.eclipse.wb.internal.core.nls.bundle.pure.direct.DirectSourceNewComposite"/>
		<description id="org.eclipse.wb.core.nls.bundle.pure.field.FieldSource"
			source="org.eclipse.wb.internal.core.nls.bundle.pure.field.FieldSource"
			composite="org.eclipse.wb.internal.core.nls.bundle.pure.field.FieldSourceNewComposite"/>
	</extension>


	<!-- ======================================================== -->
	<!-- Baseline -->
	<!-- ======================================================== -->
	<extension point="org.eclipse.wb.core.baselineSupport">
		<support class="org.eclipse.wb.internal.core.laf.DefaultBaselineSupport" priority="-100"/>
	</extension>


	<!-- ======================================================== -->
	<!-- Preferences -->
	<!-- ======================================================== -->
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="org.eclipse.wb.internal.core.preferences.PreferenceInitializer"/>
	</extension>


	<!-- ======================================================== -->
	<!-- Toolkit -->
	<!-- ======================================================== -->
	<extension point="org.eclipse.wb.core.toolkits">
		<toolkit id="org.eclipse.wb.core">
			<provider class="org.eclipse.wb.internal.core.ToolkitProvider"/>
			<resourcePrefixes>
				<resourcePrefix>java.</resourcePrefix>
			</resourcePrefixes>
		</toolkit>
	</extension>


	<!-- ======================================================== -->
	<!-- GEF canvas -->
	<!-- ======================================================== -->
	<extension point="org.eclipse.wb.core.editPartConfigurators">
		<configurator class="org.eclipse.wb.internal.core.gef.CoreEditPartConfigurator"/>
		<configurator class="org.eclipse.wb.internal.core.gef.GenericContainersConfigurator"/>
	</extension>

	<extension point="org.eclipse.wb.core.editPolicyFactories">
		<factory class="org.eclipse.wb.internal.core.gef.GenericContainersLayoutEditPolicyFactory"/>
	</extension>


	<!-- ======================================================== -->
	<!-- GEF tree -->
	<!-- ======================================================== -->
	<extension point="org.eclipse.wb.core.treeEditPartConfigurators">
		<configurator class="org.eclipse.wb.internal.core.gefTree.GenericContainersConfigurator"/>
	</extension>

	<extension point="org.eclipse.wb.core.treeEditPolicyFactories">
		<factory
			class="org.eclipse.wb.internal.core.gefTree.GenericContainersLayoutEditPolicyFactory"/>
	</extension>


	<!-- =================================================================================== -->
	<!-- GUI editor: content type -->
	<!-- =================================================================================== -->
	<extension point="org.eclipse.core.contenttype.contentTypes">
		<content-type id="javaSourceGUI" base-type="org.eclipse.jdt.core.javaSource"
			name="GUI Java file" file-extensions="java" priority="high"/>
	</extension>

	<!-- ======================================================== -->
	<!-- GUI editor: standard actions -->
	<!-- ======================================================== -->
	<extension point="org.eclipse.ui.actionSetPartAssociations">
		<actionSetPartAssociation targetID="org.eclipse.jdt.ui.A_OpenActionSet">
			<part id="org.eclipse.wb.core.guiEditor"/>
		</actionSetPartAssociation>
		<actionSetPartAssociation targetID="org.eclipse.jdt.ui.CodingActionSet">
			<part id="org.eclipse.wb.core.guiEditor"/>
		</actionSetPartAssociation>
		<actionSetPartAssociation targetID="org.eclipse.jdt.ui.SearchActionSet">
			<part id="org.eclipse.wb.core.guiEditor"/>
		</actionSetPartAssociation>
	</extension>

	<extension point="org.eclipse.ui.editorActions">
		<editorContribution targetID="org.eclipse.wb.core.guiEditor"
			id="org.eclipse.jdt.debug.CompilationUnitEditor.BreakpointRulerActions">
			<action label="%AddBreakpoint.label"
				class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
				actionID="RulerDoubleClick"
				id="org.eclipse.jdt.debug.ui.actions.ManageBreakpointRulerAction"/>
		</editorContribution>
	</extension>

	<extension point="org.eclipse.ui.editorActions">
		<editorContribution targetID="org.eclipse.wb.core.guiEditor"
			id="org.eclipse.ui.texteditor.ruler.actions">
			<action actionID="RulerClick"
				class="org.eclipse.jdt.internal.ui.javaeditor.JavaSelectRulerAction"
				id="org.eclipse.jdt.internal.ui.javaeditor.JavaSelectRulerAction" label="label"/>
		</editorContribution>
	</extension>

	<!-- ======================================================== -->
	<!-- GUI editor: our actions and commands -->
	<!-- ======================================================== -->
	<extension point="org.eclipse.ui.editorActions">
		<editorContribution targetID="org.eclipse.wb.core.guiEditor"
			id="org.eclipse.ui.texteditor.ruler.actions">
			<action definitionId="org.eclipse.wb.core.commands.switch" label="%actions.switch.name"
				tooltip="%actions.switch.text"
				class="org.eclipse.wb.internal.core.editor.actions.SwitchAction"
				menubarPath="navigate/open.ext2" helpContextId="switch_page"
				id="org.eclipse.wb.core.editor.actions.SwitchAction"/>
		</editorContribution>
	</extension>

	<extension point="org.eclipse.ui.contexts">
		<context name="WindowBuilder Java scope" parentId="org.eclipse.ui.textEditorScope"
			id="org.eclipse.wb.core.java.editorScope"/>
	</extension>

	<extension point="org.eclipse.ui.commands">
		<category name="WindowBuilder Pro" description="WindowBuilder Pro actions"
			id="org.eclipse.wb.core.actions.category"/>
		<command name="%actions.switch.name" description="%actions.switch.text"
			categoryId="org.eclipse.wb.core.actions.category"
			id="org.eclipse.wb.core.commands.switch"/>
		<command name="Empty command" description="Command which does nothing"
			categoryId="org.eclipse.wb.core.actions.category"
			id="org.eclipse.wb.core.commands.empty"/>
	</extension>

	<extension point="org.eclipse.ui.bindings">
		<key sequence="F12" commandId="org.eclipse.wb.core.commands.switch"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			contextId="org.eclipse.ui.textEditorScope"/>
		<!-- set empty command for required keys -->
		<key sequence="M1+M2+A" commandId="org.eclipse.wb.core.commands.empty"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			contextId="org.eclipse.wb.core.java.editorScope"/>
		<key sequence="M1+M3+A" commandId="org.eclipse.wb.core.commands.empty"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			contextId="org.eclipse.wb.core.java.editorScope"/>
	</extension>

	<!-- ======================================================== -->
	<!-- Perspectives and views -->
	<!-- ======================================================== -->
	<extension point="org.eclipse.ui.views">
		<category id="org.eclipse.wb.core.category" name="WindowBuilder"/>
		<view category="org.eclipse.wb.core.category" id="org.eclipse.wb.core.StructureView"
			class="org.eclipse.wb.internal.core.views.StructureView"
			icon="icons/structure/properties_view.gif" name="Structure"/>
		<view category="org.eclipse.wb.core.category" id="org.eclipse.wb.core.PaletteView"
			class="org.eclipse.wb.internal.core.views.PaletteView"
			icon="icons/structure/palette.png" name="Palette"/>
	</extension>

	<extension point="org.eclipse.ui.perspectiveExtensions">
		<perspectiveExtension targetID="org.eclipse.jdt.ui.JavaPerspective">
			<viewShortcut id="org.eclipse.wb.core.StructureView"/>
			<viewShortcut id="org.eclipse.wb.core.PaletteView"/>
			<view id="org.eclipse.wb.core.StructureView" relationship="stack"
				relative="org.eclipse.jdt.ui.PackageExplorer" visible="false"/>
			<view id="org.eclipse.wb.core.PaletteView" relationship="stack"
				relative="org.eclipse.jdt.ui.PackageExplorer" visible="false"/>
		</perspectiveExtension>
	</extension>

	<!-- ======================================================== -->
	<!-- Error report: log files -->
	<!-- ======================================================== -->
	<extension point="org.eclipse.wb.core.errorReportEntriesProviders">
		<provider
			class="org.eclipse.wb.internal.core.editor.errors.report2.logs.LogsReportEntriesProvider"
		/>
	</extension>
</plugin>
