<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	
 	<!-- ======================================================== -->
	<!-- Exceptions -->
	<!-- ======================================================== -->
	<extension point="org.eclipse.wb.core.exceptions">
		<file path="resources/exceptions.xml"/>
	</extension>
	
</plugin>
