<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <!-- ======================================================== -->
   <!-- Extension points -->
   <!-- ======================================================== -->
   <extension-point id="testPoint" name="Extension point for testing" schema="schema/testPoint.exsd"/>


   <!-- ======================================================== -->
   <!-- Toolkit -->
   <!-- ======================================================== -->
   <extension point="org.eclipse.wb.core.toolkits">
      <toolkit id="org.eclipse.wb.swing"/> 
   </extension>


   <!-- ======================================================== -->
   <!-- Class loader -->
   <!-- ======================================================== -->
   <extension point="org.eclipse.wb.core.classLoadingContributor">
      <!-- for testing ExternalFactoriesHelper#loadBundleClass(String) -->
      <contributor namespace="org.eclipse.wb.tests.designer.core.util.ExternalFactoriesHelperTest$"/>
   </extension>
   
   
   <!-- ======================================================== -->
   <!-- NLS sources -->
   <!-- ======================================================== -->
   <extension point="org.eclipse.wb.core.nlsSources">
      <binding toolkit="org.eclipse.wb.swing"
         description="org.eclipse.wb.core.nls.bundle.eclipse.modern.ModernEclipseSource"/>
   </extension>
   
</plugin>
